.container {
    width: 1000px;
    margin: 0 auto;

}

h1 {
    text-decoration: underline;
    font-family: 'Rubik Bubbles', cursive;
}

h2{
    color:rgb(19, 36, 152);
}

.containerFrases {
    border-width: 5px;
    border-style: double;
    border-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

p {
    font-weight: bold;
}

a {
    color: rgba(255, 0, 0, 0.621);
    font-weight: bold;
}

a:hover {
    color: brown;
}

body {
    background: radial-gradient(circle, rgba(255, 0, 0, 0.568), rgba(255, 255, 0, 0.505), rgba(0, 0, 255, 0.588), green);
}